@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url('../assets/cursors/regular-pixel-cursor.png') 0 0, auto;
}


a, button, [role="button"], .clickable, .sentence-reader {
  cursor: url('../assets/cursors/pointer-pixel-cursor.png') 16 0, pointer !important;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/PressStart2P.ttf');
}

