.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url('../../public/cursors/regular-pixel-cursor.png') 0 0, auto;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../../public/fonts/PressStart2P.ttf');
}

a, button, [role="button"], .clickable {
  cursor: url('../../public/cursors/pointer-pixel-cursor.png') 0 0, pointer;
}
